
nav{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

#main{
    padding: 2vh 2vh;
    margin: 2vh 2vh;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    /* border-style: solid; */
    border-color: grey;
    box-shadow: 1px 1px 5px 7px #888888;
}

#image{
    max-width: 15%;
    height: auto;
    padding-top: 4vh;
}

#text-container {
    display: flex;
    flex-flow: column;  
    padding: 5vh;
    max-width: fit-content;
}

#bio-nama{
  margin-bottom: 10px;
}

#button-container{
    flex-flow: row;
}

#edit-button {
    padding: 15px 30px;
    margin-top: 7vh;
    align-self: flex-start;  
    
}

#bio-role{
    padding-top: 10px;
}

#contact-button{
    margin-top: 7vh;
    padding: 15px 30px;
    margin-left: 10px;
}

#keterangan-kanan{
    margin-left: 30vh;
    margin-top: 6vh;
    border-left: 1px solid gray;
    padding-left: 3vh;
    
}

.bold-text{
    font-weight: bold;
}

#data-keterangan{
    padding-left: 14vh;
    padding-top: 44px;
}

